{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>

    <div class="col-md-6">
        <h2>{{ product.name }}</h2>

        {% if product.old_price %}
        <p class="text-muted text-decoration-line-through">
            {{ product.old_price }} VNĐ
        </p>
        {% endif %}

        <h3 class="text-danger">{{ product.price }} VNĐ</h3>

        <p class="mt-4">{{ product.description }}</p>

        <a href="{% url 'cart_add' product.id %}" class="btn btn-primary">
            Thêm vào giỏ hàng
        </a>
    </div>
</div>
{% endblock %}