{% extends 'core/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<h3>Kết quả tìm kiếm cho "{{ query }}"</h3>

<div class="row mt-4">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ product.image.url }}" class="card-img-top"
                 style="height:250px;object-fit:cover;">
            <div class="card-body">
                <h5>
                    <a href="{% url 'product_detail' product.slug %}">
                        {{ product.name }}
                    </a>
                </h5>
                <p class="text-danger fw-bold">
                    {{ product.price }} VNĐ
                </p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Không tìm thấy sản phẩm.</p>
    {% endfor %}
</div>
{% endblock %}